<div class="wrapper-home">
  <div class="container">
    <p class="title tip">Login and save your own currency rates</p>
    <p class="title">Popular Exchange Rates</p>
    <table class="table">
      <thead>
      <tr>
        <th class="text-left">Currency From</th>
        <th class="text-left">Currency To</th>
        <th class="text-left">Amount</th>
      </tr>
      </thead>
      <!--Static data for avoid API requests
      (only 10 requests per month for free account)-->
      <tbody>
        <tr>
          <td class="text-left">
            United States Dolar
          </td>
          <td class="text-left">
            Ukrainian Hryvnia
          </td>
          <td class="text-left">
            27.8
          </td>
        </tr>
        <tr>
          <td class="text-left">
            Euro
          </td>
          <td class="text-left">
            Ukrainian Hryvnia
          </td>
          <td class="text-left">
            31.65
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>